/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens*/
@media screen and (max-width: 1200px) 
	
	body
		.header
			&-container
				&_text.header-container_text-sm
					height: 68%
				&_top-line
					flex-direction: column
					border-bottom-color: transparent
					&__logo
						padding-bottom: 25px
						border-bottom: 1px solid rgba(255, 255, 255, 0.15)
						img
							width: 266px
							height: 58px
					&__nav
						ul
							justify-content: center
							li 
								margin: 0 35px 0 35px
								a 
									padding-top: 30px
									display: block
									font-size: 1.2rem
									border-top: 1px solid rgba($white, 0)
								a:hover
									border-top: 1px solid rgba($white, 1)
									border-bottom-color: transparent
		main
			.domain
				form, table
					width: 100%
			
@media screen and (max-width: 1100px)
		
	body
		.packages
				&-container
					width: 90% 

/* Medium Devices, Desktops*/
@media screen and (max-width: 992px) 
	.container
		width: 95%
	body
		.packages
			&-container
				justify-content: space-evenly
				.package
					width: 30%
				.package:not(:nth-child(-n + 2))
					display: none
			.more-packages.button
				display: block
		.aboutUs
			.about
				flex-direction: column
				align-items: center
				padding: 50px 0
				&-discription
					text-align: center
					background-image: none
					width: 80%
					p 
						padding: 0
				&-persons
					width: 80%
					padding: 30px 0
					justify-content: space-around
					&_item
						// img 
						// 	width: 200px
						// 	height: 200px
						p 
							font-size: 1.2rem
						&__social
							font-size: 1.3rem
		.function-container
			width: 85%
		.footer
			&-container_top-line
				justify-content: center
				&__logo
					padding-right: 15%
			&-container_bottom-line
				padding: 15px 0
				// flex-direction: column
				align-items: center
				flex-wrap: wrap
				justify-content: space-around
				.area
					font-size: 2rem
					border: none
					text-align: center
					p
						padding: 0
				.area2
					width: 50%
					ul
						li 
							&::before
								top: 16px
					ul:first-child
						border-left: 1px solid rgba(205, 205, 205, .1)
				.area3 
					justify-content: center
					width: 45%

/* Small Devices, Tablets*/
@media screen and (max-width: 768px)
	
	body
		.toggle-menu
			display: block
		.header
			&-container
				&_top-line
					flex-direction: column
					border-bottom-color: transparent
					&__nav
						display: none
						
/* Extra Small Devices, Phones*/
@media screen and (max-width: 480px) 

	

			

/* Custom, iPhone Retina*/
@media screen and (max-width: 320px) 

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina*/
@media screen and (min-width: 320px) 

/* Extra Small Devices, Phones*/
@media screen and (min-width: 480px) 

/* Small Devices, Tablets*/
@media screen and (min-width: 768px) 

/* Medium Devices, Desktops*/
@media screen and (min-width: 992px) 

/* Large Devices, Wide Screens*/
@media screen and (min-width: 1200px) 
